:root{
  --text-color: #ffffff;
  --text-color2: #212121;
  --background-color: #0d0d0d;
  --events-color: #151615;
  --button-color: #88D709;
  --button-color2: #04C80B;
  --font-weight-p: normal normal normal 20px/1.8rem avenir-lt-w01_35-light1475496,avenir-lt-w05_35-light,sans-serif;
  --font-weight-p2: normal normal normal 16px/1.75em avenir-lt-w01_35-light1475496,avenir-lt-w05_35-light,sans-serif;
  --font-weight-p3: normal normal normal 22px/1.75em avenir-lt-w01_35-light1475496,avenir-lt-w05_35-light,sans-serif;
  --font-weight-p4: normal normal normal 26px/1.75rem avenir-lt-w01_35-light1475496,avenir-lt-w05_35-light,sans-serif;
  --font-botones: normal normal normal 24px/1.75rem avenir-lt-w01_35-light1475496,avenir-lt-w05_35-light,sans-serif;
  --font-botones-inicio: normal normal normal 18px/1.75rem avenir-lt-w01_35-light1475496,avenir-lt-w05_35-light,sans-serif;
  --font-botones-inicio-reducidos: normal normal normal 12px/1.75rem avenir-lt-w01_35-light1475496,avenir-lt-w05_35-light,sans-serif;
}

*{
  box-sizing: border-box;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}

html,
body{
  width: 100%;
  font-family: 'DM Sans', sans-serif;
  font-family: 'Inter', sans-serif;
  font-family: 'Oswald', sans-serif;
  background-color: var(--text-color);
  color: var(--background-color);
  overflow-x: hidden;
}

h1{
  font-size: 50px;
  color: var(--button-color);
}

h2{
  font-size: 40px;
}

h3{
  font-size: 36px;
  margin-bottom: 20px;
}

h4{
  color: var(--button-color);
  font-size: 32px;
  margin-bottom: 20px;
}

h5{
  font-size: 24px;
  color: var(--button-color);
  margin-bottom: 8px;
  margin-top: 20px;
}

p{
  font-size: 22px;
}

a{
  color: var(--button-color);
}

a:hover{
  color: var(--button-color2);
}





/* Efectos */

.fadeTop {
  opacity: 0; 
  transform: translate(0, 10vh);
  transition: all 1s;
}

.fadeRight {
  opacity: 0;
  transform: translate(10vh, 0vh);
  transition: all 1s;
}

.fadeLeft {
  opacity: 0;
  transform: translate(-10vh, 0vh);
  transition: all 1s;
}
  
.visible {
  opacity: 1;
  transform: translate(0, 0);
}




/* EStados */

.inactive{
  display: none;
}

.hidden{
  visibility: hidden;
  opacity: 0;
}





/* Barra de navegación */

.nav{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: var(--text-color);
  box-shadow: 0 8px 32px 0 var(--events-color);
}

.nav-content{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px;
}

.nombre-eslogan{
  display: none;
}

.logo-nombre-eslogan .logo{
  width: 120px;
  height: 80px;
}




/* Menu de navegación */

.nav-menu{
  width: 100%;
  text-align: center;
  padding: 16px;
}

.nav-menu-link{
  width: 100%;
  padding: 6px;
  font-size: 24px;
  font-weight: bold;
  list-style: none;
  box-shadow: 0 8px 32px 0 var(--events-color);
  transition: ease-out 0.5s;
  box-shadow: inset 0 0 0 0 var(--button-color2);
}

.nav-menu-link:active {
  transform: scale(0.9);
}

.nav-menu-link:hover{
  color: white;
  box-shadow: inset 0 -100px 0 0 var(--button-color);
}

.nav-menu-link{
  color: var(--events-color);
  text-decoration: none;
  display: block;
  height: 100%;
}

.nav-menu-link:hover{
  color: var(--text-color);
}

.hamburguer-menu{
  width: 40px;
  cursor: pointer;
}





/* Main */

main{
  background: var(--events-color);
  color: var(--text-color);
}






/* Sección Carmentraining */

.carmentraining{
  text-align: center;
  color: var(--text-color);
  padding: 16px;
  margin-bottom: 50px;
  max-width: 1024px;
  margin-right:  auto;
  margin-left: auto;
}



/* Sección instagram */

.instagram{
  display: flex;
  overflow: scroll;
  width: 100%;
  height: 600px;
  gap: 10px;
  margin-bottom: 50px;
}

.instagram .instagram-item{
  width: 100%;
  height: 100%;
  object-fit: cover;
  scroll-snap-align: center;
}








/* Sección quien soy */

.container-quien-soy{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-quien-soy img{
  width: 100%;
  object-fit: cover;
  margin-bottom: 30px;
}

.container-quien-soy .text-container-quien-soy{
  padding: 20px;
  margin-bottom: 50px;
}

.contactame{
  font-size: 30px;
}





/* Sección que hago */

.que-hago{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-picture img{
  object-fit: cover;
  margin-bottom: 30px;
}

.articles{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-bottom: 50px;
}





/* Sección preguntas frecuentes */

.contenedor-preguntas-frecuentes{
  width: 100%;
}

.contenedor-imagen-titulo{
  position: relative;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contenedor-imagen-titulo img{
  width: 100%;
  object-fit: cover;
}

.contenedor-imagen-titulo p{
  position: absolute;
  font-size: 40px;
}

.respuestas{
  padding: 20px;
  margin-bottom: 50px;
}






/* Bloque de medidas */

.container-all{
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.container-all h6{
  font: var(--font-weight-p);
  margin: 0 auto;
  padding: 10px;
  background: var(--button-color);
  color: var(--events-color);
  box-shadow: 0px 4px 8px var(--text-color);
  font-weight: bold;
  margin-bottom: 30px;
}

.tabla{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 50px;
  font-size: 24px;
}

#Peso{
  font: var(--font-weight-p2);
  text-align: center;
}

#Estatura{
  font: var(--font-weight-p2);
  text-align: center;
}

.calcula-medidas{
  background-color: transparent;
  border: none;
  color: var(--text-color);
  text-align: center;
  font-size: 1.4rem;
  padding: 12px;
  width: 200px;
  height: 50px;
  cursor: pointer;
  box-shadow: 0px 4px 8px var(--button-color);
  text-decoration: none;
}
  
.calcula-medidas:hover,
.calcula-medidas:focus{
    outline     : none;
    background  : var(--text-color);
    color       : var(--events-color);
    font-weight: bold;
}

.parrafos{
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

#Resultado{
  background-color: transparent;
  color: red;
  text-align: center;
  font-size: 24px
}

#Explicacion{
  background-color: transparent;
  color: red;
  text-align: center;
  font-size: 24px
}






/* Bloque metabolismo basal */
  
.metabolismo-container-all{
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.metabolismo-container-all h6{
  font: var(--font-weight-p);
  margin: 0 auto;
  padding: 10px;
  background: var(--button-color);
  color: var(--events-color);
  box-shadow: 0px 4px 8px var(--text-color);
  font-weight: bold;
  margin-bottom: 20px;
  margin-bottom: 30px;
}

.metabolismo-tabla{
  font-size: 24px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 30px;
}

#Sexo{
  font: var(--font-weight-p2);
  text-align: center;
}

#Edad{
  font: var(--font-weight-p2);
  text-align: center;
}

#Peso1{
  font: var(--font-weight-p2);
  text-align: center;
}

#Estatura1{
  font: var(--font-weight-p2);
  text-align: center;
}

.calcula-metabolismo{
  background-color: transparent;
  border: none;
  color: var(--text-color);
  text-align: center;
  font-size: 1.4rem;
  padding: 12px;
  width: 200px;
  height: 50px;
  cursor: pointer;
  box-shadow: 0px 4px 8px var(--button-color);
  text-decoration: none;
}
  
.calcula-metabolismo:hover,
.calcula-metabolismo:focus {
  outline     : none;
  background  : var(--text-color);
  color       : var(--events-color);
  font-weight: bold;
}

.parrafos1{
  padding: 20px;
  font-weight: bold;
  justify-content: center;
}

#Resultado1{
  background-color: transparent;
  color: red;
  text-align: center;
  font-size: 22px
}

#Explicacion1{
  background-color: transparent;
  color: red;
  text-align: center;
  font-size: 22px
}











/* Bloque de formulario */

.seccion-formulario{
  width: 100%;
  background-color: var(--button-color);
  padding: 10px;
  font-weight: bold;
}

.empieza_el_cambio{
  flex-direction: column;
  display: flex;
  margin: 0 auto;
  padding: 10px;
  background: var(--events-color);
  font-weight: bold;
}

.foto{
  object-fit: cover;
}


.bloque-formulario{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 30px;
}

.bloque-formulario article{
  font-weight: bold;
  color: var(--button-color);
  font-size: 28px;
}

.formulario{
  margin : 20px auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formulario .celdas{
  max-width: 320px;
  width: 320px;
  color: var(--button-color);
  border: 2px solid var(--button-color2);
  border-radius: 10px;
  padding: 10px 25px;
  background: transparent;
  font: var(--font-weight-p2);
  margin-bottom: 20px;
}

.formulario .celdas:active {
  box-shadow: 2px 2px 15px var(--button-color) inset;
}


.formulario textarea{
  font: var(--font-weight-p2);
  width: 320px;
  max-width: 320px;
  height: 120px;
  color: var(--button-color);
  border: 2px solid var(--button-color2);
  border-radius: 10px;
  padding: 10px 25px;
  background: transparent;
}

.formulario textarea:active {
  box-shadow: 2px 2px 15px var(--button-color) inset;
}

.formulario .boton{
  padding: 5px;
  width: 300px;
  max-width: 300px;
  font: bold .6em sans-serif;
  border: 2px solid #333;
  border-radius: 5px;
  background: none;
  cursor: pointer;
  background-color: var(--button-color);
  font: normal normal normal 20px/1.75em avenir-lt-w01_35-light1475496,avenir-lt-w05_35-light,sans-serif;
  font-weight: bold;
  outline: 1.5px solid rgb(79, 187, 52);
  outline-offset: .3rem;
}

.formulario .boton:hover,
.formulario .boton:focus {
  outline     : none;
  background  : var(--text-color);
  color       : var(--events-color);
  transform: scale(1.1);
}






/* CSS Whatsapp Chat */

#whatsapp-chat {
  position: fixed;
  background: #fff;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0 1px 15px rgba(32, 33, 36, 0.28);
  bottom: 90px;
  right: 30px;
  overflow: hidden;
  z-index: 99;
  animation-name: showchat;
  animation-duration: 1s;
  transform: scale(1);
}

a.blantershow-chat {
  color: var(--events-color);
  position: fixed;
  display: flex;
  font-weight: 400;
  justify-content: space-between;
  z-index: 98;
  bottom: 150px;
  right: 20px;
  font-size: 15px;
  border-radius: 30px;
  box-shadow: 0 1px 15px rgba(32, 33, 36, 0.28);
}

a.blantershow-chat svg {
  width: 40px;
  transform: scale(1.2);
}

.header-chat {
  background: #095e54;
  color: #fff;
  padding: 20px;
}

.header-chat .head-home p {
  font-size: 20px;
  text-align: center;
  margin: 0 0 10px;
}

.header-chat p {
  font-size: 14px;
  line-height: 1.7;
  margin: 0;
}

.info-avatar {
  position: relative;
}

.info-avatar img {
  border-radius: 10%;
  width: 60px;
  float: left;
  margin: 0 10px 0 0;
}

.info-avatar:before {
  content: "\f232";
  z-index: 1;
  font-family: "Font Awesome 5 Brands";
  background: #23ab23;
  color: #fff;
  padding: 4px 5px;
  border-radius: 100%;
  position: absolute;
  top: 30px;
  left: 40px;
}

.info-chat span {
  display: block;
}

#get-label,
span.chat-label {
  font-size: 14px;
  color: #888;
}

#get-nama,
span.chat-nama {
  margin: 10px 0 0;
  font-size: 16px;
  font-weight: 700;
  color: #222;
  text-align: center;
}

#get-label,
#get-nama {
  color: #fff;
}
span.my-number {
  display: none;
}

.blanter-msg {
  color: #444;
  padding: 20px;
  font-size: 12.5px;
  text-align: center;
  border-top: 1px solid #ddd;
}

textarea#chat-input {
  border: none;
  font-family: "Arial", sans-serif;
  width: 100%;
  height: 20px;
  outline: none;
  resize: none;
}

a#send-it {
  color: #555;
  width: 40px;
  margin: -5px 0 0 5px;
  font-weight: 700;
  padding: 8px;
  background: #eee;
  border-radius: 10px;
}

.first-msg {
  background: #f5f5f5;
  padding: 30px;
  text-align: center;
}

.first-msg span {
  background: #e2e2e2;
  color: #333;
  font-size: 14.2px;
  line-height: 1.7;
  border-radius: 10px;
  padding: 15px 20px;
  display: inline-block;
}

.start-chat .blanter-msg {
  display: flex;
}

#get-number {
  display: none;
}

a.close-chat {
  position: absolute;
  top: 5px;
  right: 15px;
  color: #fff;
  font-size: 30px;
}

@keyframes showhide {
  from {
      transform: scale(0.5);
      opacity: 0;
  }
}

@keyframes showchat {
  from {
      transform: scale(0);
      opacity: 0;
  }
}

@media screen and (max-width: 480px) {
  #whatsapp-chat {
      width: auto;
      left: 5%;
      right: 5%;
      font-size: 80%;
  }
}

.hide {
  display: none;
  animation-name: showhide;
  animation-duration: 1.5s;
  transform: scale(1);
  opacity: 1;
}

.show {
  display: block;
  animation-name: showhide;
  animation-duration: 1.5s;
  transform: scale(1);
  opacity: 1;
}




/* Scrolll top */

.scroll-top-btn{
  z-index: 999;
  width: 3rem;
  height: 3rem;
  position: fixed;
  font-size: 2rem;
  bottom: 80px;
  right: 20px;
  font-weight: bold;
  color: black;
  background-color: white;
  outline: 0;
  border: none;
  transition: all 0.3s ease-out;
}

.scroll-top-btn:hover{
  color: white;
  background-color: black;
  cursor: pointer;
}






/* Bloque del footer */

footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: var(--text-color);
  padding: 20px;
  box-shadow: 0 8px 32px 8px var(--events-color);
}

.right img{
  width: 40px;
  list-style: none;
  margin-right: 10px;
  margin-left: 10px;
}

.right img:hover{
  transform: scale(1.1);
}










/* Diseño responsive */

@media only screen and (min-width: 768px){

  .container-quien-soy{
    padding: 40px;
  }

  .que-hago{
    padding: 40px;
  }

  .respuestas{
    padding: 40px;
  }

  /* Calculadoras */

  input{
    margin-left: 20px;
  }

  #calculadoras{
    padding: 40px;
  }

  #metabolismo-basal{
    padding: 40px;
  }

  /* Bloque de formulario */

  .empieza_el_cambio{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    margin-bottom: 50px;
  }

  .foto{
    width: 100%;
    object-fit: cover;
  }


  .bloque-formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
  }


  /* Bloque del footer */

  .left{
    display: flex;
    gap: 30px;
  }
}



@media only screen and (min-width: 1024px){
  /* Barra de navegación */

.nav{
  flex-direction: row;
  padding: 0 20px;
}

.logo-nombre-eslogan{
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.nombre-eslogan{
  display: flex;
  flex-direction: column;
}



/* Menu de navegación */

  .nav-menu{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 0;
  }

  .nav-menu-link{
    display: flex;
    padding: 0;
    box-shadow: none;
    transition: none;
    box-shadow: none;
  }

  .nav-menu-link:hover{
    color: var(--button-color);
    box-shadow: none
  }

  .hamburguer-menu{
    display: none;
  }

  /* Instagram */

  .instagram{
    padding-right: 3rem;
    padding-left: 3rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    overflow: hidden;
  }

  /* Sección quien soy */

  .container-quien-soy{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }

  /* Sección que hago */

  .que-hago{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    margin: 0 auto;
  }

  /* Calculadoras */

  #calculadoras{
    max-width: 1200px;
    margin: 0 auto;
  }

  /* Respuestas */

  .respuestas{
    max-width: 1200px;
    margin: 0 auto;
  }

  footer{
    justify-content: space-around;
  }
}